@model ClientMed.Models.MedCalendar

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MedCalendar</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Client Name
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.LastName), @Html.DisplayFor(model => model.Client.FirstMidName)
        </dd>
        <dt class="col-sm-2">
            Day of Week
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DayOfWk.DayOfWkName)
        </dd>
        <dt class="col-sm-2">
            Day Timeslot
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DaySched.DaySchedName)
        </dd>
        <dt class="col-sm-2">
            Sugar level
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SugarLvl)
        </dd>
        <dt class="col-sm-2">
            Medication taken?
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Done)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
